<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Digital storage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Digital storage</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
    <div class="converter__column">
      <div>
        <label>{{capitalize(selectedMetricFrom)}}</label>
        <ion-input class="input" placeholder="Enter Input" inputmode="decimal" [(ngModel)]="userInput" (ionChange)="inputChangeListener()"></ion-input>
      </div>

      <div>
        <label>From</label>
        <ion-select [(ngModel)]="selectedMetricFrom" [placeholder]="selectedMetricFrom ? selectedCodeValue : 'Tap to select..'" (ionChange)="inputChangeListener()">
          <ion-select-option *ngFor="let metric of metrics | keyvalue" value="{{metric.key}}">{{capitalize(metric.key)}}</ion-select-option>
        </ion-select>
      </div>
    </div>

    <div class="converter__column">
      <div>
        <label>{{capitalize(selectedMetricTo)}}</label>
        <ion-input placeholder="Result goes here" inputmode="decimal" disabled="true" value="{{result}}"></ion-input>
      </div>

      <div>
        <label>To</label>
        <ion-select [(ngModel)]="selectedMetricTo" [placeholder]="selectedMetricTo ? selectedCodeValue : 'Tap to select..'" (ionChange)="inputChangeListener()">
          <ion-select-option *ngFor="let metric of metrics | keyvalue" value="{{metric.key}}">{{capitalize(metric.key)}}</ion-select-option>
        </ion-select>
      </div>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="invert()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>  
  </div>
</ion-content>