#container {
  display: flex;
  min-height: calc(100vh - 56px);
  padding: 1em 0;
}

.converter__column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  padding: 1em;
  gap: 1rem;
}

.converter__column:first-child {
  border-right: 1px solid rgba(74, 74, 74, .8);
}

.converter__column > div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.input {
  width: 100%;
  background: #1f1f1f;
  border-bottom: solid 1px #424242;
  border-radius: .25rem;
}